---
import Socials from '@/components/socials/socials.astro';
import Layout from '@/layouts/layout-prose.astro';
import { LEARNING, LISTENING, READING, WATCHING } from '@/lib/constants';
---

<Layout title="about">
  <div class="space-y-6">
    <p>
      I am a Canadian-American living in Melbourne, Australia. When not at my local cafe,
      I'm probably discovering new music, roadtripping or playing sports.
    </p>
    <p>
      Currently enjoying sci-fi audiobooks, running, exploring design engineering, and housework.
    </p>
  </div>
  <div class="space-y-3">
    <a href="/learning">Learning</a>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        LEARNING.currently.items
          .slice(0, 3)
          .map((skill) => (
            <li class="underline underline-offset-4 decoration-muted-foreground">
              {skill}
            </li>
          ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <a href="/reading">Reading</a>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        READING.currently.items.slice(0, 3).map((book) => (
          <li>
            <a
              class="underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
              href={book.link}
            >
              {book.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <a href="/listening">Listening</a>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        LISTENING.currently.items.slice(0, 3).map((item) => (
          <li>
            <a
              class="underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
              href={item.link}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <a href="/watching">Watching</a>
    <ul class="space-y-2 text-sm text-muted-foreground">
    {
      WATCHING.currently.items.slice(0, 3).map((item) => (
      <li>
        <a
          class="underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
          href={item.link}
          >{item.name}</a
        >
      </li>
      ))}
    </ul>
  </div>
  <a href="/running" class="">Running Log</a>

  <Socials />
</Layout>
