---
import Layout from '@/layouts/layout-prose.astro';
import { Separator } from '@/components/ui/separator';
import ListRow from '@/components/list/list-row.astro';
import ListLink from '@/components/list/list-link.astro';
import ListText from '@/components/list/list-sub-text.astro';
import { LISTENING } from '@/lib/constants';
---

<Layout title="listening">
  <div class="space-y-2">
    <h1 class="font-serif">Listening</h1>
    <p class="text-muted-foreground text-sm">
      Some of the songs, albums, artists, genres I have had on repeat
    </p>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Currently</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        LISTENING.currently.map((item, i) => (
          <>
            <ListRow>
              {item.album ? (
                <div class="flex items-center gap-2">
                  <ListLink href={item.albumLink}>{item.album}</ListLink>•
                  <ListLink href={item.link}>{item.name}</ListLink>
                </div>
              ) : (
                <ListLink href={item.link}>{item.name}</ListLink>
              )}
              <ListText>{item.genre}</ListText>
            </ListRow>
            {i !== LISTENING.currently.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">2024</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        LISTENING['2024'].map((item, i) => (
          <>
            <ListRow>
              {item.album ? (
                <div class="flex items-center gap-2">
                  <ListLink href={item.albumLink}>{item.album}</ListLink>•
                  <ListLink href={item.link}>{item.name}</ListLink>
                </div>
              ) : (
                <ListLink href={item.link}>{item.name}</ListLink>
              )}
              <ListText>{item.genre}</ListText>
            </ListRow>
            {i !== LISTENING['2024'].length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
</Layout>
