---
import Layout from '@/layouts/layout-prose.astro';
import { Separator } from '@/components/ui/separator';
import ListRow from '@/components/list/list-row.astro';
import ListLink from '@/components/list/list-link.astro';
import ListText from '@/components/list/list-sub-text.astro';
import { READING } from '@/lib/constants';
---

<Layout title="reading">
  <div class="space-y-2">
    <h1 class="font-serif">Reading</h1>
    <p class="text-muted-foreground text-sm">
      Some books I'm currently reading, have read, or plan to read
    </p>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Currently</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        READING.currently.map((book, i) => (
          <>
            <ListRow>
              <ListLink href={book.link}>{book.name}</ListLink>
              <ListText>{book.genre}</ListText>
            </ListRow>
            {i !== READING.currently.length - 1 ? <Separator /> : null }
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Recommend</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        READING.recommend.map((book, i) => (
          <>
            <ListRow>
              <ListLink href={book.link}>{book.name}</ListLink>
              <ListText>{book.genre}</ListText>
            </ListRow>
            {i !== READING.recommend.length - 1 ? <Separator /> : null }
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Next</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        READING.next.map((book, i) => (
          <>
            <ListRow>
              <ListLink href={book.link}>{book.name}</ListLink>
              <ListText>{book.genre}</ListText>
            </ListRow>
            {i !== READING.next.length - 1 ? <Separator /> : null }
          </>
        ))
      }
    </ul>
  </div>
</Layout>
