
---
import Layout from '@/layouts/layout-prose.astro';
import ListRow from '@/components/list/list-row.astro';
import ListLink from '@/components/list/list-link.astro';
import ListSubText from '@/components/list/list-sub-text.astro';
import { Separator } from '@/components/ui/separator';
import { WATCHING } from '@/lib/constants';
---

<Layout title="watching">
  <div class="space-y-2">
    <h1 class="font-serif">Watching (listening etc etc)</h1>
    <p class="text-muted-foreground text-sm">
      Some of the movies, television, documentaries, podcasts I've enjoyed over
      the years.
    </p>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Currently</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        WATCHING.currently.map((item, i) => (
          <>
            <ListRow>
              <ListLink href={item.link}>{item.name}</ListLink>
              <ListSubText>{item.description}</ListSubText>
            </ListRow>
            {i !== WATCHING.currently.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Podcasts</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        WATCHING.podcasts.map((item, i) => (
          <>
            <ListRow>
              <ListLink href={item.link}>{item.name}</ListLink>
              <ListSubText>{item.description}</ListSubText>
            </ListRow>
            {i !== WATCHING.podcasts.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Movies</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        WATCHING.movies.map((item, i) => (
          <>
            <ListRow>
              <ListLink href={item.link}>{item.name}</ListLink>
              <ListSubText>{item.description}</ListSubText>
            </ListRow>
            {i !== WATCHING.movies.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
  <div class="space-y-3">
    <h2 class="font-serif">Tv Shows</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        WATCHING.shows.map((item, i) => (
          <>
            <ListRow>
              <ListLink href={item.link}>{item.name}</ListLink>
              <ListSubText>{item.description}</ListSubText>
            </ListRow>
            {i !== WATCHING.shows.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
</Layout>
