---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import BlogLayout from "./BlogLayout.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
const { title, description, blogUrl, tags } = frontmatter;

dayjs.extend(utc);
---

<BlogLayout title={title} description={description}>
	<head>
		<link rel="canonical" href={`https://jackwatters.dev/${blogUrl}`} />
		<link rel="canonical" href={`https://jackwatters.dev/${blogUrl}`} />
		<meta property="og:type" content="article" />
		<meta name="keywords" content={tags.join(", ")} />
	</head>
	<body>
		<div class="flex flex-col">
			<h1 class="font-inconsolata text-4xl font-bold">{frontmatter.title}</h1>
			<p class="pt-4 text-stone-300">
				{dayjs(frontmatter.pubDate).utc().format("MMMM D, YYYY")}
			</p>
			<div class="pt-8">
				<Prose>
					<slot />
				</Prose>
			</div>
			<div class="pt-8">
				<hr class="pt-8 opacity-10" />
				<div class="">
					<div class="flex flex-wrap gap-2">
						<a
							href="https://www.linkedin.com/in/john-watters/"
							class="cursor-pointer font-roboto text-lg text-stone-400 underline"
						>
							connect on linkedin
						</a>
						<div class="font-roboto text-lg font-bold text-stone-400">·</div>
						<a
							href="https://github.com/jackwatters45"
							class="cursor-pointer font-roboto text-lg text-stone-400 underline"
						>
							follow on github
						</a>
					</div>
					<div class="pb-6 pt-12">
						<a
							href="/#home"
							class="line-through-animation h-fit font-roboto-mono text-lg uppercase"
						>
							Watters
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</BlogLayout>
